.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  /* margin-top: 90px; */
  margin: 40px auto 0; /* Marge en haut, centrer horizontalement */
  /* background-color: rgba(235, 235, 235, 0.826); */
  background-color: initial;
  padding: 20px;
  box-shadow: 4px 4px 10px rgba(57, 55, 55, 0.267);
  width: 80%;
  border-radius: 10px;
}

mat-label {
  font-weight: 500;
}

.custom-icon {
  color: white;
  background-color: black;
  border-radius: 50%;
  padding: 5px;
}

.main-card {
 /* Prend 40% de la largeur */
  background-color: inherit;
}

.sub-card {
  flex: 1 1 40%;
  margin-bottom: 10px;
  background-color: inherit;
}

ul {
  margin-top: 20px; /* Réduire l'espace */
}

/* Styles pour la responsivité */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Empiler les cartes */
    padding: 10px; /* Réduire le padding */
    width: 95%; /* Prendre 95% de la largeur */
  }

  .main-card, .sub-card {
    width: 100%; /* Prendre 100% de la largeur */
  }

  mat-card {
    margin-bottom: 15px; /* Espace entre les cartes */
  }

  .custom-icon {
    margin: 0 auto; /* Centrer l'icône dans la carte */
  }
}

