    <div class="tab-container">
      <mat-tab-group (selectedTabChange)="onTabChange($event)" [selectedIndex]="activeTabIndex">
        <mat-tab>
          <ng-template mat-tab-label class="ng-template">
            <div class="circle-container">
              <div class="circle" [ngClass]="{'active': activeTabIndex >= 0}"><mat-icon>edit_calendar</mat-icon></div>
              <div class="circle-title">Réservations</div>
            </div>
          </ng-template>
          <app-reservation></app-reservation>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label class="ng-template">
            <div class="circle-container" >
              <div class="circle" [ngClass]="{'active': activeTabIndex >= 1}">
                <mat-icon>border_color</mat-icon>
              </div>
              <div class="circle-title">Etablissement</div>
            </div>
          </ng-template>
          <app-etablissement></app-etablissement>
        </mat-tab>
        
        <mat-tab>
          <ng-template mat-tab-label class="ng-template">
            <div class="circle-container">
              <div class="circle" [ngClass]="{'active': activeTabIndex >= 2}"><mat-icon> mail_outline</mat-icon></div>
              <div class="circle-title">Boite de reception</div>
            </div>
          </ng-template>
         <app-boite-reception></app-boite-reception>
        </mat-tab>
  
        <mat-tab>
          <ng-template mat-tab-label class="ng-template">
            <div class="circle-container">
              <div class="circle" [ngClass]="{'active': activeTabIndex >= 3}">
                <mat-icon>favorite</mat-icon>
              </div>
              <div class="circle-title">Commentaires clients</div>
            </div>
          </ng-template>
          <app-commentaires></app-commentaires>
        </mat-tab>
        <mat-tab> 
          <ng-template mat-tab-label class="ng-template">
            <div class="circle-container">
              <div class="circle" [ngClass]="{'active': activeTabIndex >= 4}"><mat-icon>trending_up</mat-icon></div>
              <div class="circle-title">Analyse</div>
            </div>
          </ng-template>
          <app-analyse></app-analyse>
        </mat-tab>

        <!-- Tab Menu déroulant -->
        <mat-tab>
          <ng-template mat-tab-label class="ng-template">
            <div class="circle-container">
              <div class="circle" (click)="openSelect(select)">
                <mat-icon>menu</mat-icon>
              </div>
              <select #select (change)="showComponent($event)" style="background-color: #77B5FE; color: white; border: none;">
                <option value="" disabled [selected]="currentComponent === null">Choisissez</option>
                <option value="composant1" [selected]="currentComponent === 'composant1'">Composant 1</option>
                <option value="composant2" [selected]="currentComponent === 'composant2'">Composant 2</option>
                <option value="composant3" [selected]="currentComponent === 'composant3'">Composant 3</option>
              </select>
            </div>
          </ng-template>
          
          
          <div *ngIf="currentComponent">
            <ng-container [ngSwitch]="currentComponent">
              <h1 *ngSwitchCase="'composant1'">Compo1</h1>
              <h1 *ngSwitchCase="'composant2'">Compo2</h1>
              <h1 *ngSwitchCase="'composant3'">Compo3</h1>
            </ng-container>
          </div>
        </mat-tab>

      </mat-tab-group>
    <div>
      <app-footer2></app-footer2>
    </div>
  </div>
  
  