.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 25px auto; /* Centre le conteneur horizontalement */
  padding: 20px;
  width: 90%; /* Utilise une largeur responsive */
  max-width: 800px; /* Limite la largeur maximale */
  box-shadow: 4px 4px 10px rgba(57, 55, 55, 0.267);
  border-radius: 10px;
  background-color: inherit; /* Optionnel, si l'héritage est voulu */
}

.main-card {
  background-color: inherit; /* Inutile si c'est déjà hérité */
  width: 100%; /* S'assure que la carte utilise toute la largeur */
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px 0; /* Ajuste l'espacement vertical */
}

mat-card-header {
  margin: 0; /* Retire les marges inutiles */
}

.example-radio-group-label {
  margin: 10px 0; /* Ajuste les marges */
  font-weight: 500;
}

mat-card-title {
  font-weight: 500;
}

label {
  font-weight: 500;
}

@media (max-width: 768px) {
  .container {
    padding: 10px; /* Réduit le padding sur les petits écrans */
  }

  .example-radio-group {
    align-items: flex-start; /* Maintient l'alignement à gauche */
  }
}
