.example-card {
  max-width: 100%;
  max-height: 100%;
  background-color: #77B5FE;
}

/* .example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
} */


.container {
  text-align: center; /* Centre le contenu de la div */
  margin-top: 20px;  /* Ajoute un espace au-dessus de la div si nécessaire */
  padding-bottom: 240px;
}

.container img {
  display: block; /* S'assure que l'image ne soit pas affectée par les marges des paragraphes */
  margin: 0 auto; /* Centre l'image horizontalement */
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Assurez-vous que le pop-up est au-dessus des autres éléments */
}
