<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <!-- <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
  </mat-card-header>
  <mat-card-content>
    <div class="container">
      <img src="assets/img/logo.png" alt="logo YORI" height="200" width="200">

      <p *ngIf="showFirstParagraph" class="para">Veuillez patienter l'ajout de votre établissement sur Yori.com</p>
      <p *ngIf="showSecondParagraph" class="para">L'ajout de votre établissement vous apportera des réservations mondiales</p>

      <div class="popup" *ngIf="showPopup">
        <div class="icon-container">
          <mat-icon>done</mat-icon>
        </div>
        <h3>SUCCES!</h3>
        <p>Votre inscription a été réalisée avec succès.<br>Un e-mail vous sera envoyé sous peu.</p>
      </div>
    </div>

  </mat-card-content>
  <mat-card-actions>
    <!-- <button mat-button>LIKE</button>
    <button mat-button>SHARE</button> -->
  </mat-card-actions>
</mat-card>
