<div class="container">
<h3>Informations sur l'hébergement</h3>
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>
          <!-- <mat-card-subtitle></mat-card-subtitle> -->
            <mat-icon style="color: rgb(61, 217, 25);">offline_pin</mat-icon>
            Étape 1-Infos sur l'hébergement
        </mat-card-title>
        <a mat-button href="https://www.google.com/" target="_blank">Modifier</a>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <p>
        Information de votre hébergement, son adresse, ses équipements, etc.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card" appearance="outlined" id="tout">
    <div *ngIf="currentRoute === '/ajout-hotel'">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>
            <mat-card-subtitle>Étape 2</mat-card-subtitle>
            <mat-icon style="color: rgb(14, 14, 14);">weekend</mat-icon>
            Infos sur l'hébergement
          </mat-card-title>
          <button mat-flat-button class="btn1" [routerLink]="['/info-hotel']">
            Ajouter une offre
          </button>
        </mat-card-title-group>

      </mat-card-header>
      <mat-card-content>
        <!-- {{longText}} -->
        <p>
          Information de votre hébergement, son adresse, ses équipements, etc.
        </p>
      </mat-card-content>
    </div>
    <div *ngIf="currentRoute === '/info-hotel'">
      <h1>Ca va le faire</h1>
    </div>

    <div *ngIf="currentRoute === '/enregistrement-hotel'">
      <div class="container">
        <div class="step-header">
            <!-- <i>&#10003;</i> -->
            <mat-card-title> <mat-icon style="color: rgb(61, 217, 25);">offline_pin</mat-icon>
              Étape 2 - Infos sur l'hébergement
            </mat-card-title>
        </div>
        <p class="subtitle">Ajoutez un autre hébergement pour configurer de nouveaux.</p>
        <div class="content">
            <img src="assets/img/test.png" alt="Image Hébergement">
            <div class="details">
                <div>
                    <p><strong>Double</strong></p>
                    <p>Personnes</p>
                    <p>2</p>
                </div>
                <div>
                    <p>&nbsp;</p> <!-- Spacer for alignment -->
                    <p>Tarif</p>
                    <p>35.000 FCFA</p>
                </div>
                <div>
                    <p>&nbsp;</p> <!-- Spacer for alignment -->
                    <p>Catégorie de ce type</p>
                    <p>7</p>
                </div>
            </div>
        </div>

        <!-- Right-aligned buttons "Supprimer" and "Modifier" -->
        <div class="top-right-actions">
            <a href="#">Supprimer</a>
            <a href="#">Modifier</a>
        </div>

        <div class="horizontal-line"></div> <!-- Line added above the button -->

        <div class="actions">
            <div class="right-actions">
                <button>Ajouter une offre</button>
            </div>
        </div>
    </div>
    </div>
  </mat-card>
  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>
          <mat-card-subtitle>Étape 3</mat-card-subtitle>
          <mat-icon style="color: rgb(14, 14, 14);">photo</mat-icon>
          Photos
        </mat-card-title>
        <button mat-flat-button class="btn2" [routerLink]="['/enregistrement-hotel']">
           Ajouter des photos
        </button>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <!-- {{longText}} -->
      <p>
        Partagez quelques photos de votre hébergement pour que les clients puissent se projeter.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>
          <mat-card-subtitle>Étape 4</mat-card-subtitle>
          <mat-icon style="color: rgb(14, 14, 14);">assignment</mat-icon>
          Dernières étapes
        </mat-card-title>
        <button mat-flat-button disabled>Ajouter les dernières informations</button>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <!-- {{longText}} -->
      <p>
        Configurez les paiements et les factures avant d'ouvrir votre hébergement à la réservation.
      </p>
    </mat-card-content>
  </mat-card>
</div>
