<div class="container">
  <div class="gallery-container">
    <div class="controls">
      <div class="one-btn">
        <button (click)="triggerFileInput()" class="add-photo-btn">
          <i class="fa fa-plus-circle"></i> Ajouter des photos
        </button>
        <!-- Input file caché -->
        <input #fileInput type="file" accept="image/*" (change)="addImage($event)" style="display: none;" />
      </div>
      <div class="all-btn">
        <button class="btn-1" (click)="selectAll()">Sélectionner tout</button>
        <button class="btn" (click)="deselectAll()">Désélectionner tout</button>
        <button class="btn" (click)="deleteSelected()">Supprimer</button>
      </div>
    </div>

    <span>Galerie principale (10 photos)</span>
    <div class="image-gallery">
      <div *ngFor="let image of images; let i = index" class="image-item">
        <input
          type="checkbox"
          [checked]="isSelected(i)"
          (change)="toggleSelection(i)"
          id="image-{{i}}"
        />
        <label for="image-{{i}}">
          <img [src]="image" alt="Image {{i + 1}}" class="image" />
        </label>
      </div>
      <div>
        <p>Ajouter des photos</p>
      </div>
    </div>
  </div>
</div>
