<div class="container">
    <div class="haut">
      <h3>Galerie principale (10 photos)</h3>
      <div class="container-btn">
        <div class="left">
          <button>Ajouter des photos</button>
        </div>
        <div class="right">
          <button>Tout sélectionner</button>
          <button>Tout désélectionner</button>
          <button>Supprimer</button>
        </div>
      </div>
      <div class="cadre">

      </div>
    </div>

    <div class="bas">
      <h3>Chambre luxieuse</h3>
      <div class="container-btn">
        <div class="left">
          <button>Ajouter des photos</button>
        </div>
        <div class="right">
          <button>Tout sélectionner</button>
          <button>Tout désélectionner</button>
          <button>Supprimer</button>
        </div>
      </div>
      <div class="cadre">

      </div>
    </div>
  </div>
