.container {
  display: flex;
  justify-content: space-between; /* Créer de l'espace entre les cartes */
  margin-top: 25px;
  margin: 25px auto; /* Centrer horizontalement */
  /* background-color: rgba(235, 235, 235, 0.826); */
  background-color: initial;
  padding: 20px;
  box-shadow: 4px 4px 10px rgba(57, 55, 55, 0.267);
  width: 80%;
  border-radius: 10px;
}

mat-label {
  font-weight: 500;
}

.custom-icon {
  color: white; /* Couleur de l'icône */
  background-color: black; /* Fond noir */
  border-radius: 50%; /* Pour donner un effet de cercle autour de l'icône */
  padding: 5px; /* Pour ajouter un espace autour de l'icône */
}

.main-card {
  flex: 1 1 60%; /* Prend 60% de la largeur */
  background-color: inherit;
  margin-right: 20px; /* Espacement à droite */
}

.sub-card {
  flex: 1 1 35%; /* Prend 35% de la largeur */
  margin-left: 10px; /* Espacement à gauche */
  background-color: inherit;
}

#haut {
  margin-top: 10px;
  width: 100%; /* Prend toute la largeur sur petits écrans */
}

ul {
  margin-top: 50px;
}

.full-width {
  width: 100%; /* Prend toute la largeur sur petits écrans */
}

/* Ajout de styles pour la responsivité */
@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Passe en colonne sur petits écrans */
    padding: 10px; /* Réduction du padding sur petits écrans */
  }

  .main-card,
  .sub-card {
    flex: 1 1 100%; /* Prend toute la largeur sur petits écrans */
    margin: 10px 0; /* Marges verticales */
  }
}
