<div class="home-container">
    <section class="features">
      <mat-card class="feature">
        <mat-card-content>
          <h2>Découvrez avec Yori une opportunité unique pour promouvoir la biodiversité et la richesse culturelle africaine : réservez et soumettez votre établissement dès maintenant !</h2>
        </mat-card-content>
      </mat-card>
    </section>
    <!-- premiere section -->
    <section class="custom-section">
        <mat-card class="main-card">
          <div class="flex-container">
            <!-- Sous-card avec du texte -->
            <mat-card class="text-card">
              <mat-card-content class="content-left">
                <p class="border-left">Application mobile</p>
                <h1>Téléchargez Notre <br>Application</h1>
                <p>Téléchargez gratuitement notre <br> application via playstore et l'app <br> store.</p>
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img src="assets/img/googlePlay.png" alt="" height="50">
                </a>
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img src="assets/img/AppStore.png" alt="" height="50">
                </a>

                <br><a href="#" class="a-link">
                  <button mat-button class="premier">Ajoutez votre établissement</button>
                </a>
              </mat-card-content>

            </mat-card>
            <!-- Sous-card avec des images -->
            <mat-card class="image-card">
              <mat-card-content>
                <img src="assets/img/double.png" alt="Image 1">
              </mat-card-content>
            </mat-card>
          </div>
        </mat-card>
     </section>
    <!-- deuxieme section -->
    <section class="custom-section">
        <mat-card class="main-card">
          <div class="flex-container">
            <!-- Sous-card avec des images -->
            <mat-card class="image-card">
              <mat-card-content>
                <img src="assets/img/main.png" alt="Image 2">
              </mat-card-content>
            </mat-card>
             <!-- Sous-card avec du texte -->
            <mat-card class="text-card">
                <mat-card-content class="content-right" style="text-align: center;">
                  <p class="border-right">A propos</p>
                  <h1>Tout Savoir</h1>
                  <p>
                    Yori est une application <br> qui se distingue par sa mission de <br> promouvoir la culture et la biodiversité <br> du continent, avec un accent sur <br> le tourisme. L'objectif est de valoriser <br> la richesse culturelle et naturelle de <br> l'Afrique en créant des expériences <br> mémorables, mettant en avant <br> la diversité culturelle et la beauté du <br> continent. À travers ses initiatives <br> Yori contribue à préserver la <br> culture et la biodiversité africaines <br> enrichissant l'industrie touristique.
                  </p>
                </mat-card-content>
            </mat-card>
          </div>
        </mat-card>
    </section>


    <!-- troisieme section -->
    <section class="custom-section">
      <mat-card class="main-card">
        <div class="flex-container">
          <!-- Sous-card avec du texte -->
          <mat-card class="text-card">
            <mat-card-content class="content-left2">
              <p class="border-left" style="text-align: center;">Notre mission</p>
              <h1>Mission de Yori</h1>
              <p>
                Notre mission est de promouvoir la richesse <br>culturelle et la biodiversité du tourisme africain,<br> attirant les visiteurs mondiaux vers les merveilles <br>, naturelles du continent. L'Afrique, berceau de <br> l'humanité, déborde de trésors à découvrir, offrant <br> une expérience unique grâce à son paysage varié <br> et sa faune abondante. Nous nous engageons à <br> faire connaître ces richesses uniques et à <br> encourager le tourisme durable. En unissant nos <br> efforts, nous contribuons à préserver et valoriser <br> ce patrimoine exceptionnel.
              </p>
            </mat-card-content>

          </mat-card>



          <!-- Sous-card avec des images -->
          <mat-card class="image-card">
            <mat-card-content class="image-container">
              <img src="assets/img/elephant.png" alt="Image 1">
              <div class="justify">
                <img src="assets/img/danse.png" alt="Image 2">
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-card>
    </section>


    <!-- quatrime section -->
    <section class="custom-section">
          <mat-card class="main-card">
            <div class="flex-container">
              <!-- Sous-card avec des images -->
              <mat-card class="image-card">
                <mat-card-content>
                  <img src="assets/img/img_service.png" alt="Image 2">
                </mat-card-content>
              </mat-card>

              <!-- Sous-card avec du texte -->
              <mat-card class="text-card">
                  <mat-card-content class="content-right">
                    <p class="border-right" style="text-align: center;">Nos cibles</p>
                    <h1>Services Visés</h1>
                    <p>
                      Yori se focalise sur plusieurs services,<br> dont l'hôtellerie, le tourisme, ainsi que les <br>transports routier et aérien. Notre objectif <br>est demettre en avant la richesse culturelle <br>et la biodiversité de l'Afrique à travers ces <br>secteurs clés. Nous visons à offrir une <br>expérience touristique complète et <br>immersive, mettant en valeur les trésors <br>culturels et naturels du continent en <br>combinant ces differents services <br>
                    </p>
                  </mat-card-content>
              </mat-card>
            </div>
          </mat-card>
    </section>

        <!-- quatrime section -->
        <section class="custom-section">
          <mat-card class="main-card">
            <div class="flex-container">
              <!-- Sous-card avec des images -->
              <mat-card class="image-card">
                <mat-card-content>
                  <h1>Vous souhaitez louer votre établissement ?</h1>
                  <p>
                    Ajoutez votre espace en publiant votre<br>
                    annonce sur notre site web en quelques clics
                  </p>
                </mat-card-content>
              </mat-card>

              <!-- Sous-card avec du texte -->
              <mat-card class="text-card">
                  <mat-card-content class="content-right">
                    <br>
                    <a href="#" class="a-link">
                      <button mat-button class="premier">Ajoutez votre établissement</button>
                    </a>
                  </mat-card-content>
              </mat-card>
            </div>
          </mat-card>
    </section>
</div>
