.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 25px;
  margin-left: 90px;
  margin-bottom: 5px;
  background-color: rgba(235, 235, 235, 0.826);
  background-color: inherit;
  padding: 50px 270px 110px 20px;
  padding: 20px;
  box-shadow: 4px 4px 10px rgba(57, 55, 55, 0.267);
  width: 80%;
  border-radius: 10px;
}


.custom-icon {
  color: white;         /* Couleur de l'icône */
  background-color: black; /* Fond noir */
  border-radius: 50%;    /* Pour donner un effet de cercle autour de l'icône */
  padding: 5px;         /* Pour ajouter un espace autour de l'icône */
}

.main-card {
  /* width: 1000px; */
  flex: 1 1 100%; /* Prend 60% de la largeur */
  /* background-color: rgb(207, 9, 9); */
  background-color: inherit;
  /* margin-left: 20px; */
}

.right-column {
   /* Prend 40% de la largeur */
  position: relative;
}

.sub-card {
  margin-bottom: 10px; /* Espace de 10px entre les cartes superposées */
  /* background-color: blue; */
  background-color: inherit;
  /* margin-left: 100px; */
}


.full-width {
  width: 80%;
}

.map-container {
  height: 200px; /* Hauteur de la carte */
  background-color: #f0f0f0; /* Couleur de fond temporaire */
  display: flex;
  align-items: center;
  justify-content: center;
}

#haut{

  margin-top: 10px;
  width: 300px;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}

/* # */
.form-section {
  margin-bottom: 20px;
  padding: 20px;
  /* background-color: rgb(207, 9, 9); */
  background-color: inherit;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-section h3 {
  margin-bottom: 10px;
}

.time-selector {
  display: flex;
  gap: 20px; /* Espace entre les inputs */
  align-items: center;
}

.time-selector input[type="time"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 45%; /* Prend 45% de la largeur pour chaque input */
}



/* ## */
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
